.container{
  margin-top: 20px;
}

.purchase-card{
  width: 500px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0),
              0px 8px 15px rgba(0, 0, 0, 0.1),
              0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 1em;
}
